.rounded_0      { border-radius: 0; }
.rounded_sm     { border-radius: 2px; }
.rounded_md     { border-radius: 4px; }
.rounded_lg     { border-radius: 6px; }
.rounded_xl     { border-radius: 9px; }
.rounded_xxl    { border-radius: 12px; }
.rounded_pill   { border-radius: 9999px; }
.rounded_circle { border-radius: 50%; }
