.v-drawer {
 padding: 10px;
}
.v-drawer .title h2{
   margin-left: 17px;
   font-size: large;
}
.v-drawer .item-menu{
  border-radius: 5px;
  height: 45px;
}
/* .v-drawer .item-menu:active{
  background-color: #B2E0EE;
} */
/* .drawer .item-icon{
  margin-top: 50px;
}
.drawer .item-text{
   margin-left: 10px;
   vertical-align: middle;
} */
