.v-drawer {
 padding: 10px;
}
.v-drawer .title h2{
   margin-left: 17px;
}
.v-drawer .item-text{
  font-size: 14px;
}

.v-drawer  .item-menu {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 50px;
  transition: background-color 0.3s

}

.v-drawer .item-menu.active {
  background-color:   #F44336;

}

.v-drawer .item-menu.active .item-icon,
.v-drawer .item-menu.active .item-text {
  color: #FFFFFF;
}
